.getblur{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 500px;
    margin-top: 20px;
    background-color: rgba(2, 2, 2, 0.8);
    background-position: center;
    background-size:cover ;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 150px;
}
.container12{
    margin-top: 150px;
    color:white;
}