body{
  background-color: rgb(30, 25, 25);
}
.sidebar {
  background-color: rgb(30, 25, 25);
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar h1 {
  color: white;
}

.portfolio {
  background-image:url(C:\Users\Dell\Downloads\pexels-photo-625644.jpeg);
  background-size: cover;
  height:700px;
  position: absolute;
  top: 0;
  left: 150px;
  right: 0;
  bottom: 0;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

input[type=checkbox] {
 display: none;
}

input:checked ~ .portfolio { 
  left: 0;
}

input:checked ~ label {
  left: 0;
}

label {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 150px;
  background-color: rgb(255, 255, 255);
  
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  border-radius: 5px;
  margin-top:10px;
}

.toggleimg{
  padding-top: 5px;
  width:24px;
  height:20px;
  border-radius: 5px;
  
}
.homeheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 25, 25);
  height:60px;
}
.homeheader .logo {
  font-size: 25px;
  font-family: garamond;
  color: #ffffff;
  text-decoration: none;
  margin-left: 60px;
  font-weight: bold;
}
.menu{
  color:#ffffff;
  padding-left:10px;
  padding-top:5px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(30, 25, 25);
  height:60px;
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  padding: 35px 20px;
  font-weight: bold;
}  
.book{
  color:#ffffff;
  padding-top: 30px;
}
.concert{
  color:rgb(48, 217, 220);
}
.under{
  padding-top:10px;
  color:#ffffff;
  padding-left: 450px;
  font-size: small;
}
.recommend{
  margin-top: 720px;
  padding-left: 40px;
  font-size: 25px;
  font-family: garamond;
  color:#fefefe;
  background-color: rgb(30, 25, 25);
  padding-top: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 25, 25);
  margin-top: 10px;
  height:50px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  
}
.links li{
  
    display: inline;
    margin: 65px;
}
.links2 li{
  margin-bottom: 40px;
  display: inline;
  margin: 0px;
}


.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.logoimg{
  height:50px;
  width:50px;
  border-radius: 25px;
}
.recommend{
  margin-top: 220px;
  padding-left: 40px;
  font-size: 25px;
  font-family: garamond;
  color:#fefefe;
  background-color: rgb(30, 25, 25);
  padding-top: 10px;
}
.events{
  width: 100%;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(C:\Users\Dell\Downloads\pexels-photo-625644.jpeg);
  margin-top: 20px;

}
.contain {
  margin-top: 10px;
  align-items: center; 
  float: left;
  margin-left:40px;
}
.imagea{
  float: left;
  padding: 5px;
  
}
.imggal{
  height:150px;
  border-radius:25px;
}
.text{
  background-color: #ffffff;
  height:300px;
  border-radius: 25px;
  color:#000000;
  padding-left:15px;
}


.insta{
  width: 20px;
  height:20px;
}
.fb{
  width: 20px;
  height:20px;
}
.twit{
  width: 20px;
  height:20px;
}

.details{
  padding-left: 10px;
  padding-top: 10px;
  color: #ffffff;
  height:40px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-decoration: none;
}
div .details:hover{
  background-color: #fff;
  color:black;
  
}
.logout{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-top: 5px;
}
.socialmedia{
  margin-top: 20px;
}
.bticket{
  margin-top:100px;
  margin-left: 900px;
  border:none;
  outline:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(48, 217, 220);
  cursor:pointer;
  border-radius:5px;
}
.search-icon1::placeholder {
  color:#000000;
}
.searchcat{
  margin-left: 400px;
  margin-top: 50px;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border:none;
  outline:none;
}
.concertview{
  background-color: rgb(0, 0, 0);
  width:400px;
  height:350px;
  border-radius: 20px;
  padding-left: 30px;
  color:white;
  float:left;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 50px;
}
.concert-image{
  height:100px;
  width:100px;
  border-radius: 20px;
  margin-top: 10px;
}
.searchbar-event{
  margin-left:300px;
  margin-top: 70px;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:400px;
  border-radius: 20px;
  border:none;
  outline:none;
}
.clickbook{
  color:#fff;
}
.clickbook:hover{
  color:blue;
}
  .search-icon1{
   background-color: #ffffff;
   margin-top: 50px;
    margin-left: 380px;
    border-radius: 2px;
    width:400px;
    border:none;
    outline:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.search-icon2{
  width:50px;
  border:none;
  outline:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background-color: greenyellow;
  font-weight: bold;
  cursor:pointer;
}
.buttic{
  color: rgb(8, 16, 237);
}
.buttic:hover{
  color:red;
}
